Repository SSolicki/whatever, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @backend-team-lead, @frontend-team-lead, @devops-lead, @tech-docs-team

.github/CODEOWNERS:

# Default owners for everything
*       @team-leads

# Backend specific
/backend/ @backend-team-lead

# Frontend specific
/frontend/ @frontend-team-lead

# Workflow files
/.github/workflows/ @devops-lead

# Documentation
/docs/ @tech-docs-team

# Docker and deployment configurations
docker-compose*.yaml @devops-lead
Dockerfile @devops-lead
.env* @devops-lead

# Test configurations
/cypress/ @frontend-team-lead
*.test.* @backend-team-lead

1
  src/lib/components/admin/vectordb/DatabaseConfig.svelte
Owners: @team-leads

Documentation vector-db-implementation-summary.md Documentation vector-db-work-summary.md
  docs/vector-db-implementation-summary.md
  docs/vector-db-work-summary.md
Owners: @tech-docs-team

?
  docs/CONTRIBUTING.md
  docs/README.md
  docs_old/SECURITY.md
  docs_old/apache.md
  package.json
Owners: @tech-docs-team, @team-leads

Initial commit of Anthropic and Google integration
  backend/open_webui/apps/anthropic/__init__.py
  backend/open_webui/apps/anthropic/api.py
  backend/open_webui/apps/anthropic/main.py
  backend/open_webui/apps/anthropic/schemas.py
  backend/open_webui/apps/google/main.py
  backend/open_webui/config.py
  backend/open_webui/env.py
  backend/open_webui/main.py
  backend/open_webui/static/antropic.png
  backend/open_webui/utils/payload.py
  docs/anthropic-integration-plan.md
  docs/anthropic-integration-technical.md
  src/lib/apis/anthropic/index.ts
  src/lib/apis/google/index.ts
  src/lib/components/admin/Settings/Connections.svelte
  src/lib/components/admin/Settings/Connections/AddConnectionModal.svelte
  src/lib/components/admin/Settings/Connections/AnthropicConnection.svelte
  src/lib/components/admin/Settings/Connections/GoogleConnection.svelte
  src/lib/constants.ts
  src/lib/stores/index.ts
Owners: @backend-team-lead, @tech-docs-team, @team-leads

Google chat
  app/backend/open_webui/apps/google/main.py
  backend/open_webui/apps/google/main.py
  backend/open_webui/config.py
  backend/open_webui/main.py
  backend/open_webui/utils/payload.py
  backend/open_webui/utils/response.py
  src/lib/apis/google/index.ts
  src/lib/components/admin/Settings/Connections.svelte
  src/lib/constants.ts
Owners: @team-leads, @backend-team-lead

cleanup
  backend/open_webui/apps/google/main.py
  backend/open_webui/main.py
Owners: @backend-team-lead

Google chat title and tag generation
  src/lib/apis/index.ts
Owners: @team-leads

Prototyper prototype
  app/backend/open_webui/apps/google/main.py
  src/lib/components/chat/CodeChunks.svelte
  src/lib/components/chat/MIGRATION_PLAN.md
  src/lib/components/chat/Prototyper.svelte
  src/routes/(app)/prototyper/+page.svelte
  src/routes/(app)/prototyper/[id]/+page.svelte
Owners: @team-leads

Merge docker changes
  Dockerfile
  Dockerfile.base
  Dockerfile.dev
  docker-compose.dev.yaml
  docker-compose.prod.yaml
Owners: @devops-lead, @team-leads
