Repository SSolicki/whatever, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @backend-team-lead, @frontend-team-lead, @devops-lead, @tech-docs-team

.github/CODEOWNERS:

# Default owners for everything
*       @team-leads

# Backend specific
/backend/ @backend-team-lead

# Frontend specific
/frontend/ @frontend-team-lead

# Workflow files
/.github/workflows/ @devops-lead

# Documentation
/docs/ @tech-docs-team

# Docker and deployment configurations
docker-compose*.yaml @devops-lead
Dockerfile @devops-lead
.env* @devops-lead

# Test configurations
/cypress/ @frontend-team-lead
*.test.* @backend-team-lead

docs: update phase 2 and 3 documentation with implementation results
  docs/phase2_workflow_setup.md
  docs/phase3_protection_setup.md
Owners: @tech-docs-team

feat: implement upstream sync workflow and update documentation
  .github/workflows/upstream-sync.yml
  docs/phase4_upstream_sync.md
Owners: @devops-lead, @tech-docs-team

docs: add comprehensive developer guide
  docs/developer_guide.md
Owners: @tech-docs-team

fix: update test workflow and docker configuration
  .github/workflows/integration-test.yml
  docker-compose.test.yaml
Owners: @devops-lead, @backend-team-lead

fix: update cypress configuration
  cypress.config.ts
Owners: @team-leads

chore: disable unnecessary workflows
  .github/workflows/build-release.disabled
  .github/workflows/deploy-to-hf-spaces.disabled
  .github/workflows/release-pypi.disabled
Owners: @devops-lead

1
  docker-compose.test.yaml
Owners: @backend-team-lead

1
  docs/imagegenerationanalysis.md
  docs/imagegenerationimplementation.md
  docs/phase1_foundation.md
  docs/phase2_features.md
  docs/phase3_enhancement.md
Owners: @tech-docs-team

Update GitHub workflows for streamlined development process
  .github/workflows/code-quality.yml
  .github/workflows/disabled/build-release.disabled
  .github/workflows/disabled/deploy-to-hf-spaces.disabled
  .github/workflows/disabled/docker-build.disabled
  .github/workflows/disabled/environment-deployment.disabled
  .github/workflows/disabled/format-backend.disabled
  .github/workflows/disabled/format-build-frontend.disabled
  .github/workflows/disabled/integration-test.disabled
  .github/workflows/disabled/lint-backend.disabled
  .github/workflows/disabled/lint-frontend.disabled
  .github/workflows/disabled/release-pypi.disabled
  .github/workflows/docker-build.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Owners: @devops-lead

fix: update Node.js version and npm install commands for better stability
  .github/workflows/code-quality.yml
  Dockerfile
  docs/phase1-checklist.md
  docs/phase2-checklist.md
Owners: @devops-lead, @tech-docs-team

chore: temporarily remove backend service from test environment
  .github/workflows/main.yml
  docker-compose.test.yaml
Owners: @devops-lead, @backend-team-lead

fix: update npm install command to handle package version mismatches
  Dockerfile
Owners: @devops-lead

fix: update npm install strategy in workflows to handle version mismatches
  .github/workflows/code-quality.yml
  .github/workflows/docker-build.yml
  .github/workflows/main.yml
Owners: @devops-lead

fix: update Node.js version to 20 and workflow configurations
  .github/workflows/docker-build.yml
Owners: @devops-lead

fix: add dev branch back to docker build workflow
  .github/workflows/docker-build.yml
Owners: @devops-lead

fix: remove dev from docker build triggers and update dependencies
  .github/workflows/docker-build.yml
  package-lock.json
Owners: @devops-lead, @team-leads

fix: use npx cypress run directly in workflow
  .github/workflows/main.yml
Owners: @devops-lead

fix: add environment variables for Cypress tests
  .github/workflows/main.yml
Owners: @devops-lead

test: Add test file for workflow verification
  src/test-workflow.js
Owners: @team-leads

Simplified test workflow and docker-compose setup
  docker-compose.test.yaml
  src/test-workflow.js
Owners: @backend-team-lead, @team-leads

blæ
  .github/workflows/code-quality.yml
Owners: @devops-lead

igjen
  .github/workflows/code-quality.yml
  .github/workflows/main.yml
Owners: @devops-lead

refresh
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  docker-compose.test.yaml
  package-lock.json
  tailwind.config.js
Owners: @devops-lead, @backend-team-lead, @team-leads

refresh
  .github/workflows/format-build-frontend.yaml
  .github/workflows/integration-test.yml
  docker-compose.prod.yaml
  tailwind.config.js
Owners: @devops-lead, @team-leads

refresh
  .github/workflows/code-quality.yml.disabled
  .github/workflows/format-backend.yaml
  .github/workflows/format-build-frontend.yaml
  .github/workflows/main.yml.disabled
Owners: @devops-lead

refresh
  .github/workflows/format-build-frontend.yaml
Owners: @devops-lead

refresh
  .github/workflows/format-build-frontend.yaml
  backend/CHANGELOG.md
Owners: @devops-lead, @backend-team-lead

refresh
  .github/workflows/format-build-frontend.yaml
  backend/open_webui/CHANGELOG.md
Owners: @devops-lead, @backend-team-lead

refresh
  .github/workflows/format-build-frontend.yaml
Owners: @devops-lead

tull
  .github/workflows/format-build-frontend.yaml
Owners: @devops-lead

chore: update dependencies and i18n configuration
  package-lock.json
  package.json
  src/lib/apis/retrieval/index.ts
  src/lib/components/admin/Settings/Documents.svelte
  src/lib/components/admin/vectordb/DatabaseConfig.svelte
  src/lib/i18n/index.ts
  src/lib/i18n/locales/en/vectordb.json
  src/lib/services/vectordb/configStorage.ts
  src/lib/services/vectordb/connectionService.ts
  src/lib/types/vectordb.ts
  tailwind.config.js
Owners: @team-leads

orkerikke
  Dockerfile
  Dockerfile.base
  Dockerfile.dev
  backend/open_webui/apps/retrieval/main.py
  backend/open_webui/apps/retrieval/vector/connector.py
  backend/open_webui/apps/retrieval/vector/dbs/qdrant.py
  backend/open_webui/apps/webui/routers/knowledge.py
  backend/open_webui/apps/webui/routers/memories.py
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  package-lock.json
  src/lib/apis/retrieval/index.ts
  src/lib/components/admin/Settings/Documents.svelte
  src/lib/components/admin/vectordb/DatabaseConfig.svelte
  src/lib/types/vectordb.ts
  static/pyodide/pyodide-lock.json
Owners: @devops-lead, @team-leads, @backend-team-lead

endelig
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  docker-compose.template.yaml
Owners: @devops-lead

jepp
  src/lib/services/vectordb/configStorage.ts
  src/lib/services/vectordb/connectionService.ts
Owners: @team-leads

jepsipepsi
  backend/open_webui/apps/retrieval/main.py
  backend/open_webui/config.py
  src/lib/components/admin/vectordb/DatabaseConfig.svelte
Owners: @backend-team-lead, @team-leads

yes
  docker-compose.prod.yaml
Owners: @devops-lead

litt fremgang
  backend/open_webui/apps/retrieval/main.py
  backend/open_webui/apps/retrieval/vector/dbs/chroma.py
  backend/open_webui/apps/retrieval/vector/dbs/opensearch.py
  backend/open_webui/apps/retrieval/vector/dbs/pgvector.py
  backend/open_webui/apps/retrieval/vector/dbs/qdrant.py
  backend/open_webui/config.py
  backend/repomix-output.txt
  src/lib/components/admin/Settings/Documents.svelte
  src/lib/components/admin/vectordb/DatabaseConfig.svelte
  src/lib/types/vectordb.ts
Owners: @backend-team-lead, @team-leads

HotReloadIssue&KnowledgeAdminPanel
  Dockerfile
  docker-compose.dev.yaml
  package-lock.json
  package.json
  src/lib/components/admin/Knowledge.svelte
  src/lib/components/admin/Settings.svelte
  src/lib/components/admin/vectordb/DatabaseConfig.svelte
  src/routes/(app)/admin/+layout.svelte
  src/routes/(app)/admin/knowledge/+page.svelte
  vite.config.ts
Owners: @devops-lead, @team-leads

vector db support
  backend/open_webui/apps/retrieval/vector/connector.py
  backend/open_webui/apps/retrieval/vector/dbs/chroma.py
  backend/open_webui/apps/retrieval/vector/dbs/milvus.py
  backend/open_webui/apps/retrieval/vector/dbs/opensearch.py
  backend/open_webui/apps/retrieval/vector/dbs/pgvector.py
  backend/open_webui/apps/retrieval/vector/dbs/pinecone.py
  backend/open_webui/config.py
  backend/requirements.txt
Owners: @backend-team-lead

Vector db improvements
  src/lib/apis/retrieval/index.ts
  src/lib/components/admin/Knowledge.svelte
  src/lib/components/admin/Knowledge/DatabaseConfig.svelte
  src/lib/components/admin/Settings/Documents.svelte
  src/lib/types/api.ts
Owners: @team-leads
